<h1>Editer une adresse</h1>
<div>
    {{ form_start(form, {'attr' : {'id': 'form_ok', 'method' : 'post', 'novalidate' : 'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <button type="submit">Valider</button>
    {{ form_end(form) }}
</div>
